/* 6.9 Section: Artikel
------------------------------------------------------------------------------*/
.post-ttl {
    margin-bottom: 2px;
}
.post-detail .dates {
    display: block;
    margin-bottom: 10px;
}
.share {
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}
.share-bt {
    float: left;
}
