/* 6.6 Section: Pembahasan Soal
------------------------------------------------------------------------------*/
.mod.category .inner {
    padding: 0;
}
.mod.category .current a {
    color: #333;
    font-weight: bold;
}

#discussionsFilter, #discussionsSearch {
  margin-bottom: 10px;
}

.discussion-link { 
  margin: 10px 0;
}