/* 6.7 Section: Rekor
------------------------------------------------------------------------------*/
.display-search {
    margin-bottom: 10px;
    padding: 10px 0;
}
.display-search form {
    display: inline;
    float: right;
}
.display-search strong {
    float: left;
    margin-top: 5px;
}
.display-search input, .display-search select {
    margin-left: 5px;
}
