- set_meta_tags :open_graph => { :title => 'MasukNegeri.com - Latihan soal-soal SMA untuk UN dan SNMPTN', content: 'Gabung dengan ribuan siswa dari seluruh Indonesia untuk bersama-sama mengikuti latihan soal-soal SMA untuk UN dan SNMPTN gratis!', :image => 'http://graph.facebook.com/303213689753723/picture' }, keywords: 'latihan soal, soal SMA, latihan soal SMA, UN, latihan soal UN, pembahasan UN, jawaban UN, latihan UN, soal UN 2012, SNMPTN, latihan soal SNMPTN, pembahasan SNMPTN, jawaban SNMPTN, latihan SNMPTN, soal SNMPTN 2012'

#home.container