/*******************************************************************************

        Title: Ideagroup
        Date: March 2012 
        Author: Suitmedia (http://www.suitmedia.com)

********************************************************************************

        1 Reset
        2 Font-face
        3 Basic styles
        4 Common styles
        5 Header
        6 Content
                6.1 Section: Home
                6.2 Section: Dashboard
                6.3 Section: Latihan
                6.4 Section: Profile
                6.5 Section: List Soal
                6.6 Section: Pembahasan Soal
                6.7 Section: Rekor
                6.8 Section: Messaging
                6.9 Section: Artikel
                6.10 Section: Badges
        7 Sidebar
        8 Footer
        9 Non Semantics helper class
        10 Print
        11 Plugins

*******************************************************************************/

/*
 *= require reset
 *= require font_face
 *= require basic
 *= require common
 *= require header
 *= require content/home
 *= require content/dashboard
 *= require content/latihan
 *= require footer
 *= require content/profile
 *= require content/list_soal
 *= require content/pembahasan_soal
 *= require content/rekor
 *= require content/messaging
 *= require content/artikel
 *= require content/badges
 *= require sidebar
 *= require non_semantic_helper
 *= require print
 *= require plugins
 */