%nav#support-nav
  %ul
    %li= link_to "Daftar Tryout Akbar", exams_path
    %li= link_to "Daftar Tryout Akbar SMPTN", exams_path(type:'smptn')
    %li= link_to "Daftar Tryout Akbar UN", exams_path(type:'un')
    %li= link_to "Tambah Exam Akbar", new_exam_path